#logo {
    width: 100px;
}

body {

    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

#hero {
    background-image: url("images/galaxy.gif");
    background-size: cover;
    padding: 0 0 150px ;
} 

.btn {
    padding: 7px 14px;
    border: 0;
    background-color: white;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
}

.underline {
    border-bottom: 4px solid antiquewhite;
}

#title {
    margin-top: 150px;
    text-shadow: 0 0 4px black;
}

#terms {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
}