#logo {
    width: 100px;
}

body {
    background-image: url("images/galaxy.gif");
    background-size: cover;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.btn {
    padding: 7px 14px;
    border: 0;
    background-color: white;
    font-family: 'Orbitron', sans-serif;
}

.underline {
    border-bottom: 4px solid antiquewhite;
}

